<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>
<h2><%= @cocktail.name %></h2>
<% @doses.each do |item| %>
  <p> <%= item.ingredient.name %> </p>
  <p> <%= item.description %> </p>
<% end  %>
<%= link_to "Back to all", cocktails_path %>
